/* styles */

:root {
	/* COLORS */
	--color-borders: #d5d5d5;
	--color-bg: #063424;
	--color-blue-light: #9aabc9;
	--color-blue-dark: #d5d5d5;
	--color-illustrations: #051d46;
	--color-chambre-section: #405c3f;
	--color-white: #ffffff;
	--color-text: #333333;
	--color-black: #000000;
	--color-skeleton: #bccae2a4;

	/* FONTS */
	--font-base: 'Source Serif Pro', serif;
	--font-alt: 'Inter', sans-serif;
	--font-size-base: 16px;

	font-family: var(--font-base);
	line-height: 1.6;
	font-weight: 400;
	font-size: var(--font-size-base);

	color: var(--color-white);
	background-color: var(--color-bg);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	font-weight: 600;
	color: var(--color-blue-light);
	text-decoration: none;
	transition: color 0.3s ease;
}
a:hover {
	color: var(--color-blue-dark);
}

body {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 320px;
	min-height: 100vh;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

button {
	border: 1px solid var(--color-blue-dark);
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}
